*{
    padding:0;
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}
.clr{
    clear:both;
}

::-webkit-scrollbar{
    display: none;
}

/************************************************************************************************************/

/* NAV BAR */


header{
    background-image: url("../images/bg9.jpg");
    background-position: center;
    background-size:cover;
    height: 100vh;
}

header nav{
    background-color: rgb(25, 50, 66);
    width:90%;
    height:80px;
    border-radius: 50px;
    position:fixed;
    right:90px;
    top:10px;
    z-index: 20;
}
header .nav_cont{
    position:relative;
}
header nav .nav_cont .title{
    float:left;
    color: white;
    position: absolute;
    top:20px;
    left:100px;
}

header nav .nav_cont .title h1{
    font-size: 35px;
}
header nav .nav_cont .links{
    float:right;
    position: absolute;
    right:100px;
    top:5px;
}

header nav .nav_cont .links ul li{
    float:left; 
    margin: 20px 20px;
    font-size: 20px;
}

header nav .nav_cont .links ul li a{
    color: white;
}

header .text_cont{
    position: absolute;
    top:220px;
    left:130px;
}
header .text_cont .text{
    color:white;
    position:relative;
}
header .text_cont  .text h2{
    font-size: 120px;
}

header .text_cont  .text h2::after{
    content:"";
    background-color: white;
    position: absolute;
    width:630px;
    height: 5px;
    top:210px;
    left:30px;
}
header .text_cont  .text p{
    font-size: 40px;
    position: absolute;
    top:140px;
    left: 25px;
}

/************************************************************************************************************/

/* SEARCH FORM */

header .search{
    background-color: rgba(225,225,225,0.7);
    width: 80%;
    height:140px;
    position: absolute;
    bottom: 100px;
    left:100px;
    border-radius: 30px;
}

header .search .form_cont{
    position:relative;
    height:200px;
    width:90%;
    margin:5px 10px;
}

header .search .form_cont .input{
    float:left;
    margin:40px 20px;
}


header .search .form_cont .input input{
    padding:10px;
    border:transparent;
    background-color: white;
    outline: none;
    font-size: 16px;
    color:rgb(25, 50, 66);
    border-radius: 50px;
}

header .search .form_cont .input .material-symbols-outlined{
    color:rgb(25, 50, 66);
}

header .search .form_cont button{
    border:transparent;
    background-color: rgb(25, 50, 66);
    padding:10px;
    font-size: 16px;
    border-radius: 50px;
    color:white;
    position:absolute;
    right:0;
    top:40px;
}

/************************************************************************************************************/

/*EXPLORE*/

.explore{
    background-color: white;
    height:700px;
    text-align: center;
    position: relative;
    margin: auto;
}
.explore h2, .offer h2, .contact .form_container h2{
    font-size: 40px;
    margin:50px 50px;
    padding:20px;
    color:rgb(25, 50, 66);
}

.explore h2::before, .offer h2::before{
    content:"";
    position:absolute;
    width:250px;
    height:3px;
    background-color: rgb(25, 50, 66);
    top:0;
    left:620px;
}

.explore .explore_cont{
    position:absolute;
    left:130px;
}

.explore .explore_cont .card{
    width:300px;
    height:250px;
    background-image: linear-gradient(to bottom, black, transparent),url("../images/greece.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    float: left;
    position: relative;
    margin: 10px 10px;
}

.explore .explore_cont .card .name{
    position:absolute;
    top:10px;
    background-color: white;
    border-radius: 0 20px 20px 0;
    padding: 10px;
}

.explore .explore_cont .card .name h3{
    font-size: 25px;
    color:rgb(25, 50, 66);
}

.explore .explore_cont .bigger{
    width:550px;
    height:250px;
}



/************************************************************************************************************/

/*OFFER*/

.offer{
    background-color: white;
    height:auto;
    position: relative;
    text-align: center;
}

.offer .offers_cont{
    position: relative;
    height:1100px;
}

.offer .offers_cont .offers{
    position: absolute;
    left:90px;
}

.offer .offers_cont .offers .card{
    width:25%;
    height:430px;
    border-radius: 20px;
    box-shadow: 2px 10px 10px grey;
    float:left;
    margin:40px 40px;
}

.offer .offers_cont .offers .card img{
    width:100%;
    height: 300px;
    border-radius: 20px 20px 0 0;
}

.offer .offers_cont .offers .card .content{
    text-align: center;
    padding:20px;
    color:rgb(25, 50, 66);
    line-height: 1.5rem;
}

.offer .offers_cont .offers .card .content p del{
    text-decoration: line-through;
}

/************************************************************************************************************/

/*ABOUT*/

.about{
    background-image: linear-gradient(to bottom, rgb(0, 14, 15),transparent), url("../images/about5.jpg");
    background-repeat: no-repeat;
    background-position-y: center;
    background-size: cover;
    height:500px;
    position: relative;
    text-align: center;
    width:100%;
}


.about h2{
    color:white;
    font-size: 40px;
    padding:10px;
}

.about h2::before{
    content:"";
    position:absolute;
    width:250px;
    height:3px;
    background-color: white;
    top:0;
    left:620px;
}

.about .text_content{
    margin:50px;
}


.about .text_content p{
    color:white;
    line-height: 2rem;
}



/************************************************************************************************************/

/*CONTACT*/

.contact{
    background-color: rgb(0, 14, 15);
    width:100%;
    position: relative;
    text-align: center;
    height:450px;
}

.contact .form_container{
    padding: 10px;
    
}
.contact .form_container h2{
    color:white;
}


.contact .form_container h2::before{
    content:"";
    position:absolute;
    width:250px;
    height:3px;
    background-color: white;
    top:70px;
    left:620px;
}


.contact .form_container form{
    position:relative;
    height:250px;
}

.contact .form_container form input{
    padding:10px;
    border-radius: 10px;
    border: 1px solid grey;
    width:315px;
    font-size: 20px;
    color:grey;
}

.contact .form_container form textarea{
    padding:10px;
    border-radius: 10px;
    border: 1px solid grey;
    width:670px;
    height:80px;
    position:absolute;
    top:55px;
    left:258px;
    font-size: 20px;
    color:grey;
}

.contact .form_container form button{
    position:absolute;
    width:275px;
    height:80px;
    padding:20px;
    top:55px;
    right:260px;
    background-color: rgb(25, 50, 66);
    color:white;
    border: transparent;
    border-radius: 10px;
    font-size: 20px;
}


